

img#logo {
  height: 20%;
  width: 20%;
}

.ParallaxVideo{ 
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px; 
}
.ParallaxVideo video{ 
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -999;
}
.ParallaxVideo h1 {
color: #fff;
text-transform: uppercase;
}

#donny {
  margin-top: 800px;
  height: 600px;
  background: black;
  
}

.header1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

info1 {
  color: white;
}